<footer class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-4 mb-4">
          <h4 class="widget-title">Places To Visit</h4>
          <ul class="footerlink">
            <li><a href="/places-to-visit-in-bangkok/" rel="noopener noreferrer">Places to visit in Ernakulam</a></li>
            <li><a href="/places-to-visit-in-pattaya/" rel="noopener noreferrer">Places to visit in Kannur</a></li>
            <li><a href="/places-to-visit-in-phuket/" rel="noopener noreferrer">Places to visit in Kollam</a></li>
            <li><a href="/places-to-visit-in-krabi/" rel="noopener noreferrer">Places to visit in Kasargode</a></li>
            <li><a href="/places-to-visit-in-koh-samui/" rel="noopener noreferrer">Places to visit in Wayanad</a></li>
          </ul>
          <span class="viewall-ft"><a href="/category/places-to-visit/">View All</a></span>
        </div>
        <div class="col-lg-4 col-md-2 col-sm-4 mb-4">
          <h4 class="widget-title">Things To Do</h4>
          <ul class="footerlink">
            <li><a href="/things-to-do-in-bangkok/" rel="noopener noreferrer">Things to do in Kochi</a></li>
            <li><a href="/things-to-do-in-pattaya/" rel="noopener noreferrer">Things to do in Moonar</a></li>
            <li><a href="/things-to-do-in-phuket/" rel="noopener noreferrer">Things to do in Trivandrum</a></li>
            <li><a href="/things-to-do-in-krabi/" rel="noopener noreferrer">Things to do in Pattanamthitta</a></li>
            <li><a href="/things-to-do-in-koh-samui/" rel="noopener noreferrer">Things to do in Malappuram</a></li>
          </ul>
          <span class="viewall-ft"><a href="/category/things-to-do/">View All</a></span>
        </div>
       
       
        <div class="col-lg-4 col-md-2 col-sm-4 mb-4">
          <h4 class="widget-title">Contact</h4>
          <div class="contact-det">
            Police: 100<br>
            Fireforce: 108<br>
            Helpline: 1900 1200 12<br>
            Angamaly<br>
            Call: +91 8810-691-022<br>
            Email: <a href="mailto:jisnageorge0143@gmail.com" target="_top" rel="noopener">keralatourismgmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </footer>